.container_ul {
  list-style-type: none;
  text-align: left;
  padding: 0px;
}
.li_div {
  display: flex;
  align-items: center;
}
.li_div > svg {
  flex-shrink: 0;
}
.li_div > span {
  margin-left: 5px;
}

.li_div > span > * {
  color: var(--font-main-color);
}
