.main {
  color: var(--main-color);
  text-shadow: var(--text-shadow);
}

.background {
  color: var(--background-color);
  text-shadow: var(--text-shadow);
}
.disabled {
  color: var(--disabled-color);
  text-shadow: var(--text-shadow);
}
.danger {
  color: var(--danger-color);
  text-shadow: var(--text-shadow);
}
.ghosted {
  color: var(--ghosted-color);
  text-shadow: var(--text-shadow);
}
.special {
  color: var(--special-color);
  text-shadow: var(--text-shadow);
}
.basic {
  color: var(--basic-color);
  text-shadow: var(--text-shadow);
}
