.main {
  color: var(--main-color);
  text-shadow: 0px 0px 0.2em var(--main-color-font);
}

.background {
  color: var(--background-color);
  text-shadow: 0 1px 0.2em var(--background-color-font);
}
.disabled {
  color: var(--disabled-color);
  text-shadow: 0 1px 0.2em var(--disabled-color-font);
}
.danger {
  color: var(--danger-color);
  text-shadow: 0 1px 0.2em var(--danger-color-font);
}
.ghosted {
  color: var(--ghosted-color);
  text-shadow: 0 1px 0.2em var(--ghosted-color-font);
}
.special {
  color: var(--special-color);
  text-shadow: 0 1px 0.2em var(--special-color-font);
}
