.fill {
  position: relative;
}
.main .path {
  fill: var(--main-color);
}
.background .path {
  fill: var(--background-color);
}
.disabled .path {
  fill: var(--disabled-color);
}
.danger .path {
  fill: var(--danger-color);
}
.ghosted .path {
  fill: var(--ghosted-color);
}
.special .path {
  fill: var(--special-color);
}
.basic .path {
  fill: var(--basic-color);
}
.h1 {
  width: var(--font-size-h1);
  height: var(--font-size-h1);
  top: calc(var(--font-size-h1) * 0.2);
}
.h2 {
  width: var(--font-size-h2);
  height: var(--font-size-h2);
  top: calc(var(--font-size-h2) * 0.2);
}
.h3 {
  width: var(--font-size-h3);
  height: var(--font-size-h3);
  top: calc(var(--font-size-h3) * 0.2);
}
.h4 {
  width: var(--font-size-h4);
  height: var(--font-size-h4);
  top: calc(var(--font-size-h4) * 0.2);
}
.h5 {
  width: var(--font-size-h5);
  height: var(--font-size-h5);
  top: calc(var(--font-size-h5) * 0.2);
}
.h6 {
  width: var(--font-size-h6);
  height: var(--font-size-h6);
  top: calc(var(--font-size-h6) * 0.2);
}

.fill .white_fill {
  fill: white;
}
.fill .black_fill {
  fill: black;
}
.fill:hover .white_fill {
  fill: black;
  animation: whiteFillToBlack 0.1s linear;
}
.fill:hover .black_fill {
  fill: white;
  animation: blackFillToWhite 0.1s linear;
}

@keyframes whiteFillToBlack {
  0% {
    fill: white;
  }
  100% {
    fill: black;
  }
}
@keyframes blackFillToWhite {
  0% {
    fill: black;
  }
  100% {
    fill: white;
  }
}

.fill .black_stroke {
  stroke: black;
}
.fill .white_stroke {
  stroke: white;
}
.fill:hover .black_stroke {
  stroke: white;
  animation: blackStrokeToWhite 0.1s linear;
}
.fill:hover .white_stroke {
  stroke: black;
  animation: whiteStrokeToBlack 0.1s linear;
}

@keyframes blackStrokeToWhite {
  0% {
    fill: black;
  }
  100% {
    fill: white;
  }
}
@keyframes whiteStrokeToBlack {
  0% {
    fill: white;
  }
  100% {
    fill: black;
  }
}
