.container_div {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto 1fr; /* div | button | div | button | div */
  grid-template-rows: 1fr;
  background-color: var(--background-color);
}
.container_div > * {
  height: 100%;
}
